<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/java-io-noite/src/serializacao/naoserializaveis/heranca/painaoserializavel/Serializador.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="serializacao.naoserializaveis.heranca.painaoserializavel.Serializador"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="java-io-noite"/>
</launchConfiguration>
